a {
  text-decoration: none;
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  background: rgb(48,219,206);
  background: linear-gradient(90deg, rgba(103, 219, 210, 0.928) -12%, rgba(44,131,196,1) 67%);
}

nav{
  background-color: '#e3f2fd'
}